@page "/recruitments/edit"
@using Microsoft.EntityFrameworkCore
@using HRMS.Models
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Recruitment</h2>
<hr />
@if (Recruitment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Recruitment" OnValidSubmit="UpdateRecruitment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Recruitment.Id" value="@Recruitment.Id" />
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Recruitment.Description" class="form-control" />
                    <ValidationMessage For="() => Recruitment.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bottomsalary" class="form-label">BottomSalary:</label>
                    <InputNumber id="bottomsalary" @bind-Value="Recruitment.BottomSalary" class="form-control" />
                    <ValidationMessage For="() => Recruitment.BottomSalary" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="topsalary" class="form-label">TopSalary:</label>
                    <InputNumber id="topsalary" @bind-Value="Recruitment.TopSalary" class="form-control" />
                    <ValidationMessage For="() => Recruitment.TopSalary" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="departmentid" class="form-label">DepartmentId:</label>
                    <InputNumber id="departmentid" @bind-Value="Recruitment.DepartmentId" class="form-control" />
                    <ValidationMessage For="() => Recruitment.DepartmentId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="levelid" class="form-label">LevelId:</label>
                    <InputNumber id="levelid" @bind-Value="Recruitment.LevelId" class="form-control" />
                    <ValidationMessage For="() => Recruitment.LevelId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/recruitments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Recruitment? Recruitment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Recruitment ??= await context.Recruitment.FirstOrDefaultAsync(m => m.Id == Id);

        if (Recruitment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRecruitment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Recruitment!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RecruitmentExists(Recruitment!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/recruitments");
    }

    private bool RecruitmentExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Recruitment.Any(e => e.Id == id);
    }
}
