@page "/limitedemployees"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HRMS.Models
@using HRMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory

<PageTitle>同事</PageTitle>

<h1>同事</h1>
<div>
    <form action="/limitedemployees" date-enhance>
        <input type="search" name="nameFilter" />
        <input type="submit" value="搜索" />
    </form>
</div>

<QuickGrid Class="table" Items="FilteredEmployees" Pagination="pagination">
    <PropertyColumn Property="user => user.Name" Title="姓名" />
    <PropertyColumn Property="user => user.Gender" Title="性别" />
    <PropertyColumn Property="user => user.Department.DepartmentName" Title="部门" />
    <PropertyColumn Property="user => user.Level.LevelName" Title="职位" />
</QuickGrid>
<Paginator State="pagination" />

@code{
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private ApplicationDbContext context = default!;
    [SupplyParameterFromQuery]
    private string? NameFilter { get; set; }
    private IQueryable<ApplicationUser> FilteredEmployees =>
        context.Users
            .Include(u => u.Department)
            .Include(u => u.Level)
            .Where(m => m.Name!.Contains(NameFilter ?? string.Empty));
    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}