@page "/leaves"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HRMS.Models
@using HRMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory

<PageTitle>请假</PageTitle>

<h1>请假</h1>

<QuickGrid Class="table" Items="context.Leave.Include(l => l.ApplicationUser).ThenInclude(u => u.Department).Include(l => l.ApplicationUser).ThenInclude(u => u.Level)">
    <PropertyColumn Property="leave => leave.ApplicationUser.Name" Title="姓名" />
    <PropertyColumn Property="leave => leave.ApplicationUser.Department.DepartmentName" Title="部门" />
    <PropertyColumn Property="leave => leave.ApplicationUser.Level.LevelName" Title="职位" />
    <PropertyColumn Property="leave => leave.StartDate" Title="开始日期" />
    <PropertyColumn Property="leave => leave.EndDate" Title="结束日期" />
    <PropertyColumn Property="leave => leave.IsApproved" Title="是否批准" />

    <TemplateColumn Context="leave">
        <a href="@($"leaves/edit?id={leave.Id}")">Edit</a> |
        <a href="@($"leaves/details?id={leave.Id}")">Details</a> |
        <a href="@($"leaves/delete?id={leave.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
