@page "/departments/create"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using HRMS.Models
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin,Boss,HR")]

<PageTitle>新建部门</PageTitle>

<h1>新建部门</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Department" OnValidSubmit="AddDepartment" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="departmentname" class="form-label">部门名称：</label> 
                <InputText id="departmentname" @bind-Value="Department.DepartmentName" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Department.DepartmentName" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">创建</button>
            <a href="/departments"><button class="btn btn-primary">返回</button></a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Department Department { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddDepartment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Department.Add(Department);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/departments");
    }
}
