@page "/departments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HRMS.Models
@using HRMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory

<PageTitle>部门管理</PageTitle>

<h1>新建部门</h1>

<p>
    <a href="departments/create">新建</a>
</p>

<QuickGrid Class="table" Items="context.Department">
    <PropertyColumn Property="department => department.DepartmentName" Title="部门名称" />

    <TemplateColumn Context="department">
        <a href="@($"departments/edit?id={department.Id}")">编辑</a> |
        <a href="@($"departments/details?id={department.Id}")">详情</a> |
        <a href="@($"departments/delete?id={department.Id}")">删除</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
