@page "/employees/create"
@using Microsoft.EntityFrameworkCore
@using HRMS.Models
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>新建员工</PageTitle>

<h1>新建员工</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Employee" OnValidSubmit="AddEmployee" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">姓名：</label> 
                <InputText id="name" @bind-Value="Employee.Name" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Employee.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="gender" class="form-label">性别：</label> 
                <InputText id="gender" @bind-Value="Employee.Gender" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Employee.Gender" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateofbirth" class="form-label">出生日期：</label> 
                <InputDate id="dateofbirth" @bind-Value="Employee.DateOfBirth" class="form-control" /> 
                <ValidationMessage For="() => Employee.DateOfBirth" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="salary" class="form-label">薪资：</label> 
                <InputNumber id="salary" @bind-Value="Employee.Salary" class="form-control" /> 
                <ValidationMessage For="() => Employee.Salary" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateofentry" class="form-label">入职日期</label> 
                <InputDate id="dateofentry" @bind-Value="Employee.DateOfEntry" class="form-control" /> 
                <ValidationMessage For="() => Employee.DateOfEntry" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="departmentid" class="form-label">部门：</label>
                <InputSelect id="departmentid" @bind-Value="Employee.DepartmentId" class="form-control">
                    <!--下拉框中的选项-->
                    <option value="">-- 选择部门 --</option>
                    @foreach (var department in Departments)
                    {
                        <option value="@department.Id">@department.DepartmentName<!--下拉框中的文本--></option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Employee.DepartmentId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="levelid" class="form-label">职位：</label>
                <InputSelect id="levelid" @bind-Value="Employee.LevelId" class="form-control">
                    <!--下拉框中的选项-->
                    <option value="">-- 选择职位 --</option>
                    @foreach (var level in Levels)
                    {
                        <option value="@level.Id">@level.LevelName<!--下拉框中的文本--></option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Employee.LevelId" class="text-danger" />
            </div>              
            <button type="submit" class="btn btn-primary">创建</button>
            <a href="/employees"><button class="btn btn-primary">返回</button></a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Employee Employee { get; set; } = new();
    private List<Department> Departments { get; set; } = new();
    private List<Level> Levels { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Departments = await context.Department.ToListAsync();
        Levels = await context.Level.ToListAsync();
    }    

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEmployee()
    {
        using var context = DbFactory.CreateDbContext();
        context.Employee.Add(Employee);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/employees");
    }
}
