@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center" 
     style="height: calc(100vh - 10rem)">
    <img src="SMU.svg" 
         class="img-fluid shadow rounded-circle p-3" 
         style="width: 450px; height: 450px">
</div>