@page "/levels/details"
@using Microsoft.EntityFrameworkCore
@using HRMS.Models
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>职位详情</PageTitle>

<h1>职位详情</h1>

<div>
    <hr />
    @if (level is null)
    {
        <p><em>加载中...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">职位名称</dt>
            <dd class="col-sm-10">@level.LevelName</dd>
        </dl>
        <div>
            <a href="@($"/levels/edit?id={level.Id}")"><button class="btn btn-primary">编辑</button></a>
            <a href="@($"/levels")"><button class="btn btn-primary">返回</button></a>
        </div>
    }
</div>

@code {
    private Level? level;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        level = await context.Level.FirstOrDefaultAsync(m => m.Id == Id);

        if (level is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
