@page "/levels"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HRMS.Models
@using HRMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HRMS.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin,Boss,HR")]

<PageTitle>职位管理</PageTitle>

<h1>职位管理</h1>

<p>
    <a href="levels/create">新建</a>
</p>

<QuickGrid Class="table" Items="context.Level">
    <PropertyColumn Property="level => level.LevelName" Title="职位名称" />

    <TemplateColumn Context="level">
        <a href="@($"levels/edit?id={level.Id}")">编辑</a> |
        <a href="@($"levels/details?id={level.Id}")">详情</a> |
        <a href="@($"levels/delete?id={level.Id}")">删除</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
